<div class="row">
    <div class="col-md-4 offset-md-4">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Esqueci minha senha</h5>
                <h6 class="card-subtitle mb-2 text-muted">Informe seu email de acesso para obter uma nova senha</h6>

                <hr />

                <div *ngIf="mensagem_sucesso" class="alert alert-success mb-3">
                    <strong>Sucesso!</strong> {{mensagem_sucesso}}
                </div>

                <div *ngIf="mensagem_erro" class="alert alert-danger mb-3">
                    <strong>Erro!</strong> {{mensagem_erro}}
                </div>

                <form [formGroup]="formPassword" (ngSubmit)="onSubmit()">

                    <div class="mb-3">
                        <label>Email de acesso:</label>
                        <input type="email" class="form-control"
                            formControlName="email"
                            [readonly]="isLoading" />

                        <div *ngIf="form.email.touched && form.email.invalid" class="text-danger">
                            <div *ngIf="form.email.errors.required">
                                Por favor, informe o seu email.
                            </div>
                            <div *ngIf="form.email.errors.email">
                                Por favor, informe um endereço de email válido.
                            </div>
                        </div>

                    </div>                   

                    <div class="mb-3 d-grid">
                        <input type="submit" 
                            [disabled]="!formPassword.valid || isLoading"
                            value="Recuperar Senha" 
                            class="btn btn-success" />
                    </div>

                </form>

                <div class="row mb-3" *ngIf="isLoading">
                    <div class="col-md-12 text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="mt-2">
                            Processando requisição, por favor aguarde...      
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>